<div class="brag_bg">
  <div class="header">
    <div class="button">
      <%= link_to "/", class: "back_link" do %>
        <%= image_tag "back.svg", alt: "back button", class: "back_button" %>
      <% end %>
    </div>
  </div>

  <div class="logo_wrap">
    <%= image_tag "brag_logo.svg", alt: "Brag Docs Logo", class: "logo" %>
  </div>

  <div class="content">
    <div class="contain">
      <p class="outline-text">เนื้อหาเกมจะแสดงที่นี่</p>
    </div>
  </div>

  <div class="footer">
    <%= image_tag "footer.svg", alt: "footer", class: "footer_img" %>
  </div>
</div>
